@import "tailwindcss";

@layer theme, base, components, utilities;


@layer utilities {

    
    

}
@theme {
    --font-dipen: Popp, monospace;
    --font-courier:"Courier";
    --font-newcourier: "Courier";
  }