@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer theme, base, components, utilities,;


@layer utilities {

    
    

}
@theme {
    --font-dipen: Popp, monospace;
    --font-courier:"Courier";
    --font-newcourier: "Courier";
  }
  